.DSStore
.env
.env.local
.env.docker
.env.prod
.flake8
.git
.idea
.mypycache
.pylintrc
.pytest_cache
.ruff_cache
.venv
.vscode
.nvim.lua
pyrightconfig.json

__pycache
buffer.zip


db.sqlite3
db.sqlite3-journal

git-hooks
mypy.ini
pytest.ini
redis
venv

docker-compose-postgress.yml
