{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <div class="chat-wrapper">
        <div class="chat-sidebar">
            <h2>Сообщения</h2>
            <ul class="chat-list">
                {% for room in chat_rooms %}
                    <li class="{% if chat and room.id == chat.id %}active{% endif %}">
                        <a href="{% url 'chat:chat_dialog_detail' chat_id=room.id %}">
                            <div class="avatar">
                                <img src="{% if user == room.buyer %}
                                    {% if room.seller.image %}{{ room.seller.image.url }}{% else %}{% static 'deps/images/profile.png' %}{% endif %}
                                {% else %}
                                    {% if room.buyer.image %}{{ room.buyer.image.url }}{% else %}{% static 'deps/images/profile.png' %}{% endif %}
                                {% endif %}" alt="Avatar">
                                {% if room.unread_count > 0 %}
                                    <span class="profile-badge">{{ room.unread_count }}</span>
                                {% endif %}
                            </div>
                            <div class="chat-info">
                                <div class="chat-user">
                                    {% if user == room.buyer %}
                                        {{ room.seller.username }}
                                    {% else %}
                                        {{ room.buyer.username }}
                                    {% endif %}
                                    <span class="chat-date">
                                    {{ room.last_message_time|date:"d.m" }}
                                    </span>
                                </div>
                                <div class="chat-last-message">
                                    {{ room.last_message_text|default:"Сообщений нет" |safe }}
                                </div>

                            </div>
                        </a>
                    </li>
                {% empty %}
                    <li>Нет активных чатов.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="chat-content">
            {% if chat %}
                <div class="chat-header">
                    <div class="avatar">
                        <img src="{% if user == chat.buyer %}
                            {% if chat.seller.image %}{{ chat.seller.image.url }}{% else %}{% static 'deps/images/profile.png' %}{% endif %}
                        {% else %}
                            {% if chat.buyer.image %}{{ chat.buyer.image.url }}{% else %}{% static 'deps/images/profile.png' %}{% endif %}
                        {% endif %}" alt="Avatar">

                    </div>
                    <div>
                        <div class="chat-username">
                            {% if user == chat.buyer %}
                                {{ chat.seller.username }}
                            {% else %}
                                {{ chat.buyer.username }}
                            {% endif %}
                        </div>
                        <div class="chat-status">
                            {% if interlocutor.is_online %}
                                <span style="color: green;">Онлайн</span>
                            {% else %}
                                <span style="color: gray;">Оффлайн</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="chat-box chat-box__messages" id="chat-log">
                    {% for group in grouped_messages %}
                        <div class="message {% if group.sender == user %}me{% else %}them{% endif %}">
                            <div class="sender">
                                <strong class="sender-name">{{ group.sender.username }}</strong>
                                <span class="timestamp">{{ group.timestamp|date:"d.m.Y H:i" }}</span>
                            </div>
                            {% for msg in group.messages %}
                                <div class="text">{{ msg|safe }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div style="background: yellow; padding: 10px; color: black;">
                    user.id = {{ user.id }} | {{ user.username }}<br>
                    pending_order.id = {{ pending_order.id }}<br>
                    pending_order.user.id = {{ pending_order.user.id }} | {{ pending_order.user.username }}<br>
                    pending_order.seller.id = {{ pending_order.seller.id }} | {{ pending_order.seller.username }}<br>
                    pending_order.status = {{ pending_order.status }}
                </div>
                <div id="order-button-container">
                    {% if pending_order %}
                        {% if user == pending_order.user %}
                            <!-- Покупатель видит кнопку подтверждения -->
                            <form id="confirm-form" method="post" style="margin-top: 10px;" action="{% url 'orders:confirm_order' pending_order.id %}">
                                {% csrf_token %}
                                <button
                                    id="confirm-purchase-btn"
                                    type="submit"
                                    class="header__btn"
                                    data-order-id="{{ pending_order.id }}"
                                >
                                    Подтвердить покупку
                                </button>
                            </form>
                        {% elif user == pending_order.seller %}
                            <!-- Продавец видит кнопку отказа -->
                            <form id="cancel-form" method="post" style="margin-top: 10px;" action="{% url 'orders:cancel_order' pending_order.id %}">
                                {% csrf_token %}
                                <button
                                    id="cancel-order-btn"
                                    type="submit"
                                    class="header__btn header__btn--danger"
                                    data-order-id="{{ pending_order.id }}"
                                >
                                    Отклонить заказpppp
                                </button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="chat-input">
                    <input id="chat-message-input" type="text" placeholder="Написать..." />
                </div>
            {% else %}
                <h2>Выберите чат для общения</h2>
            {% endif %}
        </div>
    </div>
    <div id="current-user" data-user-id="{{ user.id }}" data-username="{{ request.user.username }}"></div>
    <div id="chat-data"
        data-chat-id="{{ chat_id }}"
        buyer="{{ buyer }}"
        seller="{{ seller }}">

    </div>
    <div id="chat-id" data-chat-id="{{ chat.id }}"></div>
{% endblock content %}
