body{
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

.header{
    min-height: 100vh;
    width: 100%;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.nav{
    padding-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 157px;
    justify-content: space-between;
}

.nav-general {
    margin-bottom: 35px;
}

.header__list{
    display: flex;
}

.header__burger span{
    background: #FFFFFF;
    display: block;
    width: 34px;
    height: 2px;
    margin-bottom: 5px;
}

.header__burger span:nth-child(2){
    width: 29px;
}

.header__burger span:nth-child(3){
    width: 21px;
}

.header__list li{
    margin-bottom: 10px;
    list-style-type: none;

}
.header__list a{
    font-family: "Jura", sans-serif;
    font-size: 20px;
    padding-left: 35px;
    color: #FFFFFF;
    font-weight: 900;
}

.show {
    display: block;


}

h1 {
    text-align: center;
    font-size: 96px;
    margin-bottom: 63px;
}


h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 45px;
}

.header__text{
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 75px;
    text-align: center;
}




.header__form{
    width: 335px;
    margin: auto;
}

.header__form div:nth-child(1){
    margin-bottom: 21px;
}

.header__form div:nth-child(2){
    margin-bottom: 28px;
}

.header__form div:nth-child(3){
    margin-bottom: 28px;
}

.header__form div:nth-child(4){
    margin-bottom: 28px;
}
.header__form div:nth-child(5){
    margin-bottom: 41px;
}

.form input{
    width: 300px;
    height: 39px;
    border-radius: 10px;
    opacity: 40%;
    background: #342020;
    border: #FFE9E9;
    font-family: "Jura", sans-serif;
    font-size: 16px;
    padding-left: 35px;
    color: #FFFFFF;
}

.header__input::-webkit-input-placeholder{
    color: #FFFFFF;

}

input:hover::placeholder {
    opacity: 0
}

.header__wrapper-top{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: #D32F2F;

}

a:hover {
    text-decoration: underline;
}



.header__label input{
    vertical-align: middle;
    margin: 0px;
}

.header__captcha{
    width: 239px;
    height: 60px;
    background-color: #D9D9D9;
    margin: auto;
    display: block;
    margin-bottom: 19px;
    color: #000;
    font-size: 24px;
    text-align: center;
    line-height: 60px;

}

.header__btn{
    margin: 0 auto;
    display: block;
    width: 176px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: #D32F2F;
    font-family: "Jura", sans-serif;
    margin-bottom: 18px;
    font-size: 16px;
    color: #FFFFFF;
}

.header__btn-general{
    width: 328px;
    height: 57px;
    border-radius: 10px;
    margin-bottom: 90px;
}

.header__subtext{
    display: flex;
    justify-content: center;
}

.header__btn:hover{
    cursor: pointer;
}

.header__wrapper-bot {
    display: flex;
    justify-content: space-evenly;
}

.header__btn:hover {
	transition: all 0.5s;
	background-color: #FFE9E9;
    color: #000;
}
.header__btn:active {
	background-color: #808080;
}



/* Стили профиля */

.header__avatar{
    display: grid;
    justify-content: center;
    margin-bottom: 10px;
    color:#D32F2F ;
    gap: 10px;
}

.header__avatar-settings{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    /* background: rgba(255, 255, 255, 0.1); Полупрозрачный фон */
    padding: 20px;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 14px;
    color: white;
    margin-bottom: 5px;
}

.input-group__input{
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    outline: none;
}

input[type="file"] {
    display: none;
}

.btn_avatar {
    display: flex;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
}


.btn_avatar:hover {
    text-decoration: underline;
}
.btn_avatar:hover::after {
    background-color: #D32F2F;
}
