{% extends "users/base.html" %}
{% load static %}


{% block content %}
  <h2 class="header__title">
    {{title}}
  </h2>
  <form action={% url "users:autorization" %} method='post' class="header__form">
    {% csrf_token %}
    <div class="header__form-login form">
      {{form.username}}
    </div>
    <div class="header__form-password form">
      {{form.password}}
    </div>
    <div class="header__wrapper-top">
      <label class="header__label">
        <input type="radio" class="header__checkbox" >
        Запомнить меня
      </label>
      <a href="#">
        Забыли пароль?
      </a>
    </div>
    <button class="header__btn">Вход</button>
    <div class="header__wrapper-bot">
      Нет аккаунта?
      <a href="{% url "users:registration" %}">
        Зарегистрироваться
      </a>
    </div>


    </div>
  </form>
{% endblock content %}
