{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "deps/css/reset.css" %}">
  <link rel="stylesheet" href="{% static "deps/css/style.css" %}">
  <style>
    header {
      background-image: url('{% if background_image %}{{ background_image }}{% else %}{% static "deps/images/registration-backgraound.jpg" %}{% endif %}');
    }
  </style>
</head>
<body>
  <header class="header header-profile">
    <div class="container">
      <div class="nav">
        <div class="header__logo">
          <a href="{% url "main:index" %}" class="header__logo">
            <img src="{% static "deps/images/logo.png" %}" alt="">
          </a>
        </div>


        <ul class="header__list">
          <li>
            <a href="{% url "users:profile" %}" class="header__list-item">Профиль</a>
          </li>
          <li>
            <a href="#" class="header__list-item">Услуги</a>
          </li>
          <li>
            <a href="#" class="header__list-item">Новости</a>
          </li>
          <li>
            <a href="#" class="header__list-item">FAQ</a>
          </li>
        </ul>
      </div>
      {% block content %}{% endblock  %}

    </div>

  </header>




</body>
</html>
