{% extends "users/base.html" %}
{% load static %}
{% load widget_tweaks %}  {# Загружаем библиотеку widget_tweaks #}

{% block content %}
    <h2>Введите новый пароль</h2>

    <form method="post">
        {% csrf_token %}
        <div class="reset-form form new-password">

            {{ form.new_password1|add_class:"header__input"|attr:"placeholder:Введите новый пароль" }}
            {{ form.new_password1.errors }}


            {{ form.new_password2|add_class:"header__input"|attr:"placeholder:Повторите новый пароль" }}
            <div  class="alert alert-danger alert-warning">
                {{ form.new_password2.errors }}
            </div>

        </div>
        <button type="submit" class="header__btn">Сменить пароль</button>
    </form>
{% endblock content %}
