{% extends "users/base.html" %}
{% load static %}
{% load widget_tweaks %}  {# Загружаем библиотеку widget_tweaks #}

{% block content %}
    <h2>Восстановление пароля</h2>

    <form method="post">
        {% csrf_token %}

        <div class="reset-form form">
            {{ form.email|add_class:"header__input"|attr:"placeholder:Введите ваш email" }}  {# Применяем класс form-control #}
            {% for error in form.email.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="header__btn">Отправить</button>
    </form>
{% endblock content %}
