{% extends "users/base.html" %}
{% load static %}

{% block content %}
  <h2 class="header__title">
    {{title}}
  </h2>
  <form action={% url "users:registration" %} method='post' class="header__form">
    {% csrf_token %}
    <div class="header__form-login form">
      {{form.username}}
    </div>
    <div class="header__form-password form">
      {{form.password1}}
    </div>
    <div class="header__form-password form">
      {{form.password2}}
    </div>
    <div class="header__form-password form">
      {{form.email}}
    </div>
    <div class="header__captcha">
      reCAPTCHA
    </div>
    <button class="header__btn">Регистрация</button>
    </div>
  </form>
{% endblock content %}
