{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "deps/css/reset.css" %}">
  <link rel="stylesheet" href="{% static "deps/css/style.css" %}">
  <style>
    header {
      background-image: url('{% if background_image %}{{ background_image }}{% else %}{% static "deps/images/SB_Riven.jpg" %}{% endif %}');

    }
    {% if background_color %}
      header {
          background-color: {{background_color}};
          background-image: None;
      }
    {% endif %}
  </style>
</head>
<body>
  <header class="header header-general">
    <div class="container">
      <div class="nav nav-general">
        <div class="header__logo">
          <a href="{% url "main:index" %}" class="header__logo">
            <img src="{% static "deps/images/logo.png" %}" alt="">
          </a>
        </div>

        <ul class="header__list">
          <li>
            <a href="{% url "news:main" %}" class="header__list-item">Новости</a>
          </li>
          <li>
            <a href="{% url "main:rules" %}" class="header__list-item">Правила</a>
          </li>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url "products:my_products" %}" class="header__list-item">Мои услуги</a>
            </li>
            <li>
              <a href="{% url "orders:my_orders" %}" class="header__list-item">Покупки</a>
            </li>
            <li>
              <a href="{% url "orders:my_sales" %}" class="header__list-item">Продажи</a>
            </li>
            <li class="dropdown profile" id="profileIcon">
              <a href="#" class="header__list-item">
                <div class="profile__img">
                  <img width="40" height="40" src="{% if user.image %} {{user.image.url}} {% else %} {% static "deps/images/profile.png" %} {% endif %}" alt="" >
                  {% if unread_message_count > 0 %}
                    <span class="profile-badge">{{ unread_message_count }}</span>
                  {% endif %}
                </div>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" id="dropdownMenu">
                <li>
                  <a href="{% url "users:profile" user.id %}">{{user.username}}</a>
                </li>
                <li>
                  <a href="{% url "wallet:wallet_deposit" %}">Баланс: {{ request.user.wallet.balance }} ₽</a>
                </li>
                <li>
                  <a href="{% url 'chat:chat_dialogs' %}" class="nav-link">
                      Сообщения
                      {% if unread_message_count > 0 %}
                          <span class="badge">{{ unread_message_count }}</span>
                      {% endif %}
                  </a>
                </li>
                <li>
                  <a href="#">Финансы</a>
                </li>
                {% if user.is_superuser or user.is_staff %}
                  <li>
                    <a href="{% url "admin:index" %}">Админ-панель</a>
                  </li>
                {% endif %}
                <li>
                  <a href="{% url "users:logout" %}">Выйти</a>
                </li>
              </ul>
            </li>
          {% else %}
            <li>
              <a href="{% url "users:autorization" %}" class="header__list-item">Войти</a>
            </li>
            <li>
              <a href="{% url "users:registration" %}" class="header__list-item">Зарегистрироваться</a>
            </li>
          {% endif %}
        </ul>
      </div>
      <input type="hidden" id="isAuthenticated" value="{{ user.is_authenticated }}">

      {% block content %}{% endblock content %}

  </header>


  <script src="{% static "deps/js/main.js" %}"></script>
<div id="current-user" data-username="{{ user.username }}"></div>
</body>
</html>
