{% extends "products/products.html" %}
    {% block subcontent %}
        <div class="filter-container">
            <div class="filter-container__row-1">
                <select class="filter-container__server">
                    <option value="">Сервер</option>
                        {% for server in servers %}
                            <option value="{{ server.0 }}">{{ server.1 }}</option>
                        {% endfor %}
                </select>
                <div class="filter-container__btn">
                    {% for filter_option in filter_options %}
                        <button value="{{ filter_option.value }}">{{ filter_option.label }}</button>
                    {% endfor %}
                </div>
                <div class="filter-container__lvl form-control">
                    <label for="skin_count_min">Уровень:</label>
                    <input type="number" id="account_level_min" name="account_level_min" placeholder="От">
                    <input type="number" id="account_level_max" name="account_level_max" placeholder="До">
                </div>
                {% comment %} <div class="filter-container__btn">
                    <button>Все</button>
                    <button>Подарки за RP</button>
                    <button>Карты предопаты</button>
                    <button>Rp с заходом на аккаунт</button>

                </div> {% endcomment %}
                <div class="filter-container__btn sell">
                    <button>Продать {{ category.name }}</button>
                </div>
            </div>
            <div class="filter-container__row-3">
                <div class="filter-container__lvl form-control skin">
                    <label for="skin_count_min">Количество скинов:</label>
                    <input type="number" id="skin_count_min" name="skin_count_min" placeholder="От">
                    <input type="number" id="skin_count_max" name="skin_count_max" placeholder="До">
                </div>
                <div class="filter-container__lvl form-control character">
                    <label for="skin_count_min">Количество персонажей:</label>
                    <input type="number" id="character_count_min" name="character_count_min" placeholder="От" value="{{ character_count_min }}">
                     <input type="number" id="character_count_max" name="character_count_max" placeholder="До" value="{{ character_count_max }}">
                </div>
                <select class="filter-container__rank">
                    <option value="">Ранг</option>
                        {% for rank in ranks %}
                            <option value="{{ rank.0 }}">{{ rank.1 }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="filter-container__row-2">
                <!-- Поле для поиска -->
                <form method="get" class="filter-container__search-form">
                    <div class="search-input-container">
                        <input type="text" name="q" placeholder="Поиск по описанию" value="{{ request.GET.q }}">
                        <span class="search-icon">&#128269;</span> <!-- Иконка лупы -->
                    </div>
                </form>

                <!-- Переключатель "Только продавцы онлайн" -->
                <label class="switch">
                    <input type="checkbox" name="online_sellers" {% if request.GET.online_sellers %}checked{% endif %}>
                    <span class="slider"></span>
                </label>
                <span class="filter-label">Только продавцы онлайн</span>

                <!-- Переключатель "Автоматическая доставка" -->
                <label class="switch">
                    <input type="checkbox" name="auto_delivery" {% if request.GET.auto_delivery %}checked{% endif %}>
                    <span class="slider"></span>
                </label>
                <span class="filter-label">Автоматическая доставка</span>


            </div>
        </div>
        <div class="tc table-products">
            <div class="tc__header">
                <div class="tc__header-item tc-server">Сервер</div>
                <div class="tc__header-item tc-desc">Описание</div>
                <div class="tc__header-item tc-user">Продавец</div>
                <div class="tc__header-item tc-count">Наличие</div>
                <div class="tc__header-item tc-price">Цена</div>
            </div>
            <a href="№" class="tc-item">
                <div class="tc__header-item tc-server">Сервер</div>
                <div class="tc__header-item tc-desc">Карты предоплаты, Другое количество, 160 </div>
                <div class="tc__header-item tc-user">Продавец</div>
                <div class="tc__header-item tc-count">Наличие</div>
                <div class="tc__header-item tc-price">Цена</div>
            </a>
            <a href="№" class="tc-item">
                <div class="tc__header-item tc-server">Сервер</div>
                <div class="tc__header-item tc-desc">Описание</div>
                <div class="tc__header-item tc-user">Продавец</div>
                <div class="tc__header-item tc-count">Наличие</div>
                <div class="tc__header-item tc-price">Цена</div>
            </a>
            <a href="№" class="tc-item">
                <div class="tc__header-item tc-server">Сервер</div>
                <div class="tc__header-item tc-desc">Описание</div>
                <div class="tc__header-item tc-user">Продавец</div>
                <div class="tc__header-item tc-count">Наличие</div>
                <div class="tc__header-item tc-price">Цена</div>
            </a>
            <a href="№" class="tc-item">
                <div class="tc__header-item tc-server">Сервер</div>
                <div class="tc__header-item tc-desc">Описание</div>
                <div class="tc__header-item tc-user">Продавец</div>
                <div class="tc__header-item tc-count">Наличие</div>
                <div class="tc__header-item tc-price">Цена</div>
            </a>
            <a href="№" class="tc-item">
                <div class="tc__header-item tc-server">Сервер</div>
                <div class="tc__header-item tc-desc">Описание</div>
                <div class="tc__header-item tc-user">Продавец</div>
                <div class="tc__header-item tc-count">Наличие</div>
                <div class="tc__header-item tc-price">Цена</div>
            </a>
        </div>
        <div class="products-content__btn">
            <button>Показать еще предложения</button>
        </div>
    {% endblock subcontent %}
