{% extends "main/base.html" %}
{% block content  %}


    {% if is_buyer %}
        <div class="details__buer">
            <div class="back-link">
                <a href="{% url "products:account" %}" id="">&lt Вернуться</a>
            </div>
            <div class="details-content">
                <h2>Оформление заказа</h2>
                <div class="details-content__row">
                    <div class="details-content__item">
                        <span class="label">СЕРВЕР</span>
                        <span class="value">{{ service.get_server_display }}</span>
                    </div>
                    <div class="details-content__item">
                        <span class="label">Тип предложения</span>
                        <span class="value">{{ service.get_filter_type_display }}</span>
                    </div>
                    <div class="details-content__item">
                        <span class="label">Уровень</span>
                        <span class="value">{{ service.account_level }}</span>
                    </div>
                    <div class="details-content__item">
                        <span class="label">Чемпионы</span>
                        <span class="value">{{ service.character_count }}</span>
                    </div>
                    <div class="details-content__item">
                        <span class="label">Скины</span>
                        <span class="value">{{ service.skin_count }}</span>
                    </div>
                    <div class="details-content__item">
                        <span class="label">Ранг</span>
                        <span class="value">{{ service.get_rank_display }}</span>
                    </div>
                    <div class="details-content__item">
                        <span class="label">Цена</span>
                        <span id="item-price" class="value" data-price="{{ service.price|floatformat:2 }}">{{ service.price }}</span>
                    </div>
                    <div class="details-content__item">
                        <span class="label">Наличие</span>
                        <span class="value">{{ service.quantity }}</span>
                    </div>
                </div>
                <div class="details-content__item">
                    <span class="label">Краткое описание</span>
                    <span class="value">{{ service.title }}</span>
                </div>
                <div class="details-content__item">
                    <span class="label">Подробное описание</span>
                    <span class="value">{{ service.description }}</span>
                </div>
                <form action={% url 'orders:create_order' model_name service.id %} method='post' class="details-form">
                    {% csrf_token %}
                    <div class="details-form__method ">
                        <input type="hidden" name="amount" value="1">
                        <input type="hidden" name="price" id="price">
                        <div class="label">
                            {{ form_purchase.payment_method.label }}
                        </div>

                        {{form_purchase.payment_method}}
                    </div>
                    <div class="details-form__name">
                        <div class="label">
                            {{form_purchase.player_id.label}}
                        </div>
                        {{form_purchase.player_id}}
                    </div>
                    <button type="submit" class="details-form__submit header__btn">
                        Купить
                    </button>
                </form>
            </div>

            <div id="chat-box">
                <h3>Общий чат</h3>
                <div id="chat-log">
                    {% for message in messages %}
                        <p><strong>{{ message.sender }}:</strong> {{ message.message }}</p>
                    {% endfor %}
                </div>
                <input id="chat-message-input" type="text" size="100" placeholder="Введите сообщение">
            </div>
            <div class="details__chatt"></div>
            <div id="notifications"></div>
        </div>
    {% else %}
        <div class="details__seller">
            <div class="details-content">
                <h2>Моя услуга по категории {{ service.category.name }} </h2>
                <div class="details-content__row">
                    <div class="details-content__item">
                        <span class="label">СЕРВЕР</span>
                        <span class="value">{{ service.get_server_display }}</span>
                    </div>
                    <div class="details-content__item">
                        <span class="label">Тип предложения</span>
                        <span class="value">{{ service.get_filter_type_display }}</span>
                    </div>
                    <div class="details-content__item">
                        <span class="label">Уровень</span>
                        <span class="value">{{ service.account_level }}</span>
                    </div>
                    <div class="details-content__item">
                        <span class="label">Чемпионы</span>
                        <span class="value">{{ service.character_count }}</span>
                    </div>
                    <div class="details-content__item">
                        <span class="label">Скины</span>
                        <span class="value">{{ service.skin_count }}</span>
                    </div>
                    <div class="details-content__item">
                        <span class="label">Ранг</span>
                        <span class="value">{{ service.get_rank_display }}</span>
                    </div>
                    <div class="details-content__item">
                        <span class="label">Цена</span>
                        <span id="item-price" class="value" data-price="{{ service.price|floatformat:2 }}">{{ service.price }}</span>
                    </div>
                    <div class="details-content__item">
                        <span class="label">Наличие</span>
                        <span class="value">{{ service.quantity }}</span>
                    </div>
                </div>
                <div class="details-content__item">
                    <span class="label">Краткое описание</span>
                    <span class="value">{{ service.title }}</span>
                </div>
                <div class="details-content__item">
                    <span class="label">Подробное описание</span>
                    <span class="value">{{ service.description }}</span>
                </div>
            </div>
            <div class="details-actions">
                <!-- Кнопка редактировать — открывает модалку -->
                <button class="header__btn" id="openEditModalBtn">Редактировать</button>

                <!-- Кнопка удалить — просто сабмит формы с name="delete" -->
                <form action="{% url 'products:accounts_detail' service.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" name="delete" class="header__btn" onclick="return confirm('Точно удалить?')">Удалить</button>
                </form>
                <a href="{% url 'products:account' %}">
                    <button class="header__btn ">Услуги</button>
                </a>
            </div>
        </div>
    {% endif %}
    <div id="service-type" data-type="{{ slug }}"></div>
    <div id="service-id" data-id="{{ service.id }}"></div>


    {% comment %} Модальное окно {% endcomment %}
    <div id="editModal" class="modal">
        <div class="offer">
            <span id="closeModalBtn" class="close">&times;</span>
            <h3 class="offer__title" id="modal-title">Редактирование оффера</h3>

            <form action="{% url 'products:accounts_detail' service.id %}" id="offer-form" method='post'>
                {% csrf_token %}

                <!-- Поля формы -->
                <div class="offer__form form">
                    <label for="{{ form.server.id_for_label }}">{{ form.server.label }}</label>
                    {{ form.server }}
                </div>
                <div class="offer__form form">
                    <label for="{{ form.filter_type.id_for_label }}">{{ form.filter_type.label }}</label>
                    {{ form.filter_type }}
                </div>
                <div class="offer__form form">
                    <label for="{{ form.rank.id_for_label }}">{{ form.rank.label }}</label>
                    {{ form.rank }}
                </div>
                <div class="offer__form form">
                    <label for="{{ form.skin_count.id_for_label }}">{{ form.skin_count.label }}</label>
                    {{ form.skin_count }}
                </div>
                <div class="offer__form form">
                    <label for="{{ form.character_count.id_for_label }}">{{ form.character_count.label }}</label>
                    {{ form.character_count }}
                </div>
                <div class="offer__form form">
                    <label for="{{ form.account_level.id_for_label }}">{{ form.account_level.label }}</label>
                    {{ form.account_level }}
                </div>
                <div class="offer__form form">
                    <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                    {{ form.title }}
                </div>

                <div class="offer__form form">
                    <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                    {{ form.description }}
                </div>
                <div class="offer__form form">
                    <label for="{{ form.quantity.id_for_label }}">{{ form.quantity.label }}</label>
                    {{ form.quantity }}
                </div>

                <div class="offer__form form">
                    <label for="{{ form.price.id_for_label }}">{{ form.price.label }}</label>
                    {{ form.price }}
                </div>
                <div class="offer__form offer__form-bool form">
                    <label for="{{ form.is_auto_delivery.id_for_label }}">{{ form.is_auto_delivery.label }}</label>
                    {{ form.is_auto_delivery }}
                </div>

                <button class="header__btn" type="submit" id="submit-btn">Отправить</button>
            </form>
        </div>
    </div>
{% endblock content %}
