<div id="chat-box" class="chat-box chat-box__products">
    <h3 class="chat-box__title">Чат с продавцом</h3>
    <div id="chat-log" class="chat-log">
        {% if grouped_messages %}
            {% for group in grouped_messages %}
                <div class="message {% if group.sender.username == 'LigaPay' %}system-message{% else %}{% if group.sender.username == request.user.username %}me{% else %}them{% endif %}{% endif %}">
                    <div class="sender">
                        <strong class="sender-name">{{ group.sender.username }}</strong>
                        <span class="timestamp">{{ group.timestamp|date:"d.m.Y H:i" }}</span>
                    </div>
                    {% for msg in group.messages %}
                        <div class="text">{{ msg|safe }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% elif messages %}
            {% for message in messages %}
                <p>
                    <strong>{{ message.sender.username }}:</strong>
                    {{ message.message }}
                    <br>
                    <small style="color: gray;">{{ message.timestamp|date:"Y-m-d H:i" }}</small>
                </p>
            {% endfor %}
        {% else %}
            <p>Сообщений пока нет.</p>
        {% endif %}
    </div>
    <div id="order-button-container">
        {% if pending_order %}
            <form id="confirm-form" method="post" style="margin-top: 10px;">
                {% csrf_token %}
                <button
                    type="submit"
                    id="confirm-purchase-btn"
                    class="header__btn"
                    data-order-id="{{ pending_order.id }}">
                    Подтвердить
                </button>
            </form>
        {% endif %}
    </div>
    <input id="chat-message-input" type="text" size="100" placeholder="Введите сообщение">
    <div id="current-user" data-username="{{ request.user.username }}"></div>
</div>
