{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <div class="products">
        <div class="products__header">
            <h2 class="products__title" id="category-title">
                {{ category.name }} League of Legends
            </h2>
            <div class="products__subtitle" id="category-description">
                {{ category.description }}
            </div>
        </div>
        <div class="products-list">
                <a href="{% url 'products:account' %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/accounts/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Аккаунты
                    </button>
                </a>
                <a href="{% url 'products:riot-points' %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/riot-points/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Riot Points
                    </button>
                </a>
                <a href="{% url 'products:boost' %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/boost/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Буст
                    </button>
                </a>
                <a href="{% url 'products:training'  %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/training/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Обучение
                    </button>
                </a>
                <a href="{% url 'products:battlepass'  %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/battlepass/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Боевой пропуск
                    </button>
                </a>
                <a href="{% url 'products:donation'  %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/donation/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Донат
                    </button>
                </a>
                <a href="{% url 'products:services'  %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/services/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Услуги
                    </button>
                </a>
                <a href="{% url 'products:qualification'  %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/qualification/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Квалификация
                    </button>
                </a>
                <a href="{% url 'products:other' %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/other/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Прочее
                    </button>
                </a>
        </div>
        <div id="chat-box" class="chat-box">
            <h3>Общий чат</h3>
            <div id="chat-log">
                {% for message in messages %}
                    <div class="sender">
                        <p><strong>{{ message.sender }}:</strong> {{ message.message }}</p>
                        <span class="timestamp">{{ message.timestamp|date:"d.m.Y H:i" }}</span>
                    </div>
                {% endfor %}
            </div>
            <input id="chat-message-input" type="text" size="100" placeholder="Введите сообщение">

        </div>
        <div class="products-content">
            {% block subcontent %}{% endblock subcontent %}
            {% if is_paginated %}
                <div class="pagination">
                    {% if page_obj.has_previous %}

                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Назад</a>
                    {% endif %}

                    <span class="current">
                        Страница {{ page_obj.number }} из {{ paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link">Вперед</a>

                    {% endif %}
                </div>
            {% endif %}
        </div>
{% endblock content %}
