{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <div class="products">
        <div class="products__header">
            <h2 class="products__title" id="category-title">
                {{ category.name }} League of Legends
            </h2>
            <div class="products__subtitle" id="category-description">
                {{ category.description }}
            </div>
        </div>
        <div class="products-list">
                <a href="{% url 'products:account' %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/accounts/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Аккаунты
                    </button>
                </a>
                <a href="{% url 'products:riot-points' %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/riot-points/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Riot Points
                    </button>
                </a>
                <a href="{% url 'products:boost' %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/boost/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Буст
                    </button>
                </a>
                <a href="{% url 'products:training'  %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/training/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Обучение
                    </button>
                </a>
                <a href="{% url 'products:battlepass'  %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/battlepass/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Боевой пропуск
                    </button>
                </a>
                <a href="{% url 'products:donation'  %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/donation/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Донат
                    </button>
                </a>
                <a href="{% url 'products:services'  %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/services/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Услуги
                    </button>
                </a>
                <a href="{% url 'products:qualification'  %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/qualification/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Квалификация
                    </button>
                </a>
                <a href="{% url 'products:other' %}" class="category-link">
                    <button class="header__btn products-item {% if '/products/other/' in request.path %}active{% endif %}" data-slug="{{ category.slug }}" data-title="{{ category.name }}">
                        Прочее
                    </button>
                </a>
        </div>
        <div id="chat-box">
            <h3>Общий чат</h3>
            <div id="chat-log">
                {% for message in messages %}
                    <p><strong>{{ message.sender }}:</strong> {{ message.message }}</p>
                {% endfor %}
            </div>
            <input id="chat-message-input" type="text" size="100" placeholder="Введите сообщение">

        </div>
        {% comment %} <div class="products-chat chat-box">
            <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br/>
            <input id="chat-message-input" type="text" size="100" placeholder="Введите сообщение">
        </div> {% endcomment %}
        <div class="products-content">
            <input type="hidden" id="isAuthenticated" value="{{ user.is_authenticated }}">
            {% block subcontent %}{% endblock subcontent %}
            {% if is_paginated %}
                <div class="pagination">
                    {% if page_obj.has_previous %}

                        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Назад</a>
                    {% endif %}

                    <span class="current">
                        Страница {{ page_obj.number }} из {{ paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link">Вперед</a>

                    {% endif %}
                </div>
            {% endif %}
        </div>

        {% comment %} <div class="products__footer">
            <p>Получить Riot Points League of Legends нельзя при помощи фарма, уничтожения противников или выполнения заданий. Это довольно редкая валюта. За нее вы можете приобрести в магазине различные предметы, которые украшают героев и делают игровой процесс более приятным, но не влияют на баланс. Цена Riot Points в магазине довольно высока, но на FunPay можно купить Риоты намного дешевле. Помимо этого важного плюса наша биржа обладает следующими преимуществами:</p>
            <ul>
                <li>Быстрая доставка. После внесения оплаты поинты LOL будут у вас в максимально короткий срок. Хотите, чтобы покупка прошла максимально быстро? Тогда рекомендуем заключать сделки с пользователями, которые в данный момент находятся на сайте.</li>
                <li>Комфортные условия оплаты. Расплачивайтесь за товары на FunPay так, как вам нравится: используя возможности SMS-банкинга, банковской карты или кошелька в системах онлайн-платежей.</li>
                <li>Надежные поставщики. Чтобы не сомневаться в продавце, перейдите на его личную страницу. В профиле представлены отзывы от предыдущих клиентов пользователя и его деловая активность.</li>
                <li>Выбор. На нашей бирже работают разные продавцы. Нет монополий и картельных сговоров. Торговля ведется согласно принципам свободной конкуренции.</li>
                <li>Безопасность. Мы выстроили надежную систему защиты, каждая сделка проходит через гаранта. Никто не рискует.</li>
            </ul>
            <p>Если у вас возникнут какие-либо сложности или вопросы по работе биржи, свяжитесь с техподдержкой через форму онлайн-чата. Вы найдете ее в правом нижнем углу.</p>
            <h4>О гаранте</h4>
            <p>Защита сделок заложена в самой бирже. Поэтому все чаще любители компьютерных игр решают купить Riot Points именно через наш сервис. Алгоритм безопасности:</p>
            <ul>
                <li>Покупатель вносит оплату, отправленные им средства на этом этапе не перечисляются продавцу, а поступают в резерв, на счет биржи.</li>
                <li>После того как пользователь убедится, что игровая валюта была перечислена в полном объеме, он завершает сделку.</li>
                <li>Завершение сделки сигнализирует о том, что обязательства выполнены и мы перенаправляем оплату продавцу.</li>
            </ul>
            <h3>Как купить</h3>
            <p>Чтобы купить Riot Points для League of Legends на FunPay, вам потребуется:</p>
            <ol>
                <li>Выбрать лот, написать его владельцу, дождаться ответа.</li>
                <li>Внести деньги и получить валюту.</li>
                <li>Инициировать завершение сделки.</li>
            </ol>
            <p>Чтобы поблагодарить продавца или указать на недостатки его работы, после завершения покупки оставьте отзыв на его личной странице.</p>
            <h4>Продавцам</h4>
            <p>FunPay – единственное место, где можно продать Riot Points очень быстро и по той цене, которую вы сами посчитаете наиболее разумной. Мы не регулируем стоимость товаров, не устанавливаем ограничений для пользователей. При этом ежедневно нашу биржу посещают десятки тысяч игроков, поэтому здесь вы наверняка найдете себе постоянных покупателей. Любой игрок, которого интересует продажа Riot Points LOL, может зарегистрироваться на сайте и стать одним из поставщиков. Соблюдайте правила биржи, не предлагайте покупателям заключать сделки вне нашего сервиса, и ваша торговля всегда будет проходить максимально безопасно. Старайтесь внимательно следить за изменениями на рынке, быть вежливыми и доставлять валюту максимально быстро, и у вас обязательно сформируется собственный круг постоянных клиентов на FunPay.</p>
        </div> {% endcomment %}
    </div>

{% endblock content %}
