{% extends "products/products.html" %}
{% block subcontent %}
    <div class="filter-container">
        <div class="filter-container__row-2">
            <select class="filter-container__position">
                <option value="">Позиция</option>
                    {% for position in positions %}
                        <option value="{{ position.0 }}">{{ position.1 }}</option>
                    {% endfor %}
            </select>
            <label class="switch">
                <input type="checkbox" name="online_sellers" {% if request.GET.online_sellers %}checked{% endif %}>
                <span class="slider"></span>
            </label>
            <span class="filter-label">Только продавцы онлайн</span>

            <!-- Переключатель "Автоматическая доставка" -->
            <label class="switch">
                <input type="checkbox" name="auto_delivery" {% if request.GET.auto_delivery %}checked{% endif %}>
                <span class="slider"></span>
            </label>
            <span class="filter-label">Автоматическая доставка</span>
            <div class="filter-container__btn sell">
                <button>Продать {{ category.name }}</button>
            </div>
        </div>
    </div>
    <div class="tc table-products">
        <div class="tc__header">
            <div class="tc__header-item tc-server">Сервер</div>
            <div class="tc__header-item tc-desc">Описание</div>
            <div class="tc__header-item tc-user">Продавец</div>
            <div class="tc__header-item tc-count">Наличие</div>
            <div class="tc__header-item tc-price">Цена</div>
        </div>
        <a href="№" class="tc-item">
            <div class="tc__header-item tc-server">Сервер</div>
            <div class="tc__header-item tc-desc">Карты предоплаты, Другое количество, 160 </div>
            <div class="tc__header-item tc-user">Продавец</div>
            <div class="tc__header-item tc-count">Наличие</div>
            <div class="tc__header-item tc-price">Цена</div>
        </a>
        <a href="№" class="tc-item">
            <div class="tc__header-item tc-server">Сервер</div>
            <div class="tc__header-item tc-desc">Описание</div>
            <div class="tc__header-item tc-user">Продавец</div>
            <div class="tc__header-item tc-count">Наличие</div>
            <div class="tc__header-item tc-price">Цена</div>
        </a>
        <a href="№" class="tc-item">
            <div class="tc__header-item tc-server">Сервер</div>
            <div class="tc__header-item tc-desc">Описание</div>
            <div class="tc__header-item tc-user">Продавец</div>
            <div class="tc__header-item tc-count">Наличие</div>
            <div class="tc__header-item tc-price">Цена</div>
        </a>
        <a href="№" class="tc-item">
            <div class="tc__header-item tc-server">Сервер</div>
            <div class="tc__header-item tc-desc">Описание</div>
            <div class="tc__header-item tc-user">Продавец</div>
            <div class="tc__header-item tc-count">Наличие</div>
            <div class="tc__header-item tc-price">Цена</div>
        </a>
        <a href="№" class="tc-item">
            <div class="tc__header-item tc-server">Сервер</div>
            <div class="tc__header-item tc-desc">Описание</div>
            <div class="tc__header-item tc-user">Продавец</div>
            <div class="tc__header-item tc-count">Наличие</div>
            <div class="tc__header-item tc-price">Цена</div>
        </a>
    </div>
    <div class="products-content__btn">
        <button>Показать еще предложения</button>
    </div>
{% endblock subcontent %}
